footer{
 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;   
}
.default-text-style {
    color: white;
  
}
@media (max-width:768px) {
    footer{
        display: none;
    }
}